<%= form_for(@blog_post) do |f| %>
  <% if @blog_post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@blog_post.errors.count, "error") %> prohibited this blog_post from being saved:</h2>

      <ul>
      <% @blog_post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<div class="panel panel-info">
  <div class="panel-heading">
    <div class="panel-body">
    <%= f.label :title %><br>
      <div class="field">
        <%= f.text_field :title %>
      </div>
    </div>
  </div>
  <div class="panel-heading">
    <div class="panel-body">
      <div class="field">
        <%= f.label :author %><br>
        <%= f.text_field :author %>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-success">
  <div class="panel-heading">
    <div class="field">
      <%= f.label :blog_entry %><br>
    </div>
  </div>
  <div class="panel-body">
    <div class="field">
      <%= f.text_area :blog_entry %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

    <br>
</div>
<% end %>
